/*
 *  Devicetree overlay for Nordic nRF5340 DK
 */

// Temperature and humidity sensor DHT11
// Code taken from dht Zephyr sample

/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 / {
	dht11 {
		compatible = "aosong,dht";
		status = "okay";
		dio-gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        // Add "dht22;" propety on sensor change
	};
    
};
